<ion-view title="Kmol Chat" id="page1">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header" ng-controller="AppCtrl">
    <center><img src="img/kmol.png" width="95%"></center>
    <h1 id="logIn-heading1" style="color:#000000;">Welcome!</h1>
    <div id="logIn-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Thanks for using this app.</p>
      <p style="color:#000000;">Come and have a pleasant conversation!</p>
      <div ng-show="!loggedInUser">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="email" placeholder="ex: dehamzah@gmail.com" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Enter your password..." ng-model="user.password">
            </label>
        </div>
        <center>
            <button class="button button-positive" ng-click="loginUser(user)" ui-sref="rooms">Login</button>
            <button class="button button-balanced" ng-click="createUser(user)" ui-sref="rooms">Sign Up</button>
        </center>
      </div>
      <div ng-show="loggedInUser">
        <br>
        <h3>Login as:</h3>
        <br>
        <ion-item class="item-avatar" id="avatarCard" menu-close="" ng-show="loggedInUser"><img src="img/avatar.png"><h2>{{loggedInUser.email}}</h2></ion-item>
        <br>
        <ion-item class="item-icon-left" id="rooms-list-item1" ui-sref="rooms.logIn" menu-close="" ng-click="logout()" ng-show="loggedInUser">
          <i class="icon ion-navigate"></i><h2>Logout</h2>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
