<ion-view title="Private chat room" id="pageEnd">
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-pane ng-controller="AppCtrl">
    <ion-content padding="true" class="has-header">
      <div class="card"  id="loggedInWarning" ng-show="!loggedInUser">
        <div class="item item-text-wrap">
          <span style="font-weight:bold; color:#FF0000">You need to Login.</span>
        </div>
      </div>
      <div class="card" ng-repeat="e in privatemessages" ng-show="loggedInUser">
        <div class="item item-text-wrap">
          <span style="font-weight:bold">{{e.email}}</span> :
          <br>
          {{e.text}}
          <br>
          <span style="color:#FF8800">{{e.time.year}}/{{e.time.month}}/{{e.time.date}} {{e.time.hours}}:{{e.time.minutes}} {{e.time.seconds}}</span>
        </div>
      </div>
    </ion-content>
    <div class="bar bar-footer bar-royal" ng-show="loggedInUser">
      <div class="title pull-left">
        <input type="email" placeholder="Talking with..." ng-model="talkingWith" style="float:left; width:30%; margin-top:5px;padding-left:10px">
        <input type="text" placeholder="Write your messages..." ng-model="privatemessage.text" style="float:left; width:50%; margin-top:5px;padding-left:10px;left:20%">
      </div>
      <button class="button" ng-click="addPrivateMessage(privatemessage, talkingWith)">Send</button>
    </div>
  </ion-pane>
</ion-view>
